@charset "UTF-8";

/*
Em HTML é id+ em CSS é #
Em HTML é class+ em CSS é .
*/

body{
    background-color:#77CCC7;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#233332;
}
h1#principal{
    text-align: center;
    background-color: #233332;
    color: #52FFF5;
}
h2{
    color: #5A6665;  
}
h2.basico{
    color:#085c3b;
    font-weight: bold;
}
h2.intermediario{
    color:#a55e0c;
}
h2.avançado{
    color:#bd2803;
}
p{
    color: #032518;
}